<CognusScene>
  <Three::Camera::Perspective
    @fov={{75}}
    @position={{this.cameraPosition}}
    @far={{100}}
  />

  <Three::Light::Point
    @intensity={{0.1}}
    @position={{this.pointLightPosition}}
  />
  <Three::Light::Point
    @color={{this.pointLightColor2}}
    @intensity={{2}}
    @position={{this.pointLightPosition2}}
  />
  <Three::Light::Point
    @intensity={{10}}
    @position={{this.pointLightPosition3}}
  />

  {{!
  <Objects::Ball />
  }}
  <Objects::Sphere />

</CognusScene>
<Three::Controls::Orbit />

<h1>Title</h1>